/*@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Shizuru&display=swap');*/
.slider {
   width: 100%;
   height: 90vh;
   overflow: hidden;
   position: relative;
   display: block;
}

.carousel-track {
   height: 100% !important;
}

.slider__title {
    position: absolute;
    
    width: 100%;
    text-align: center;
    top: 4rem;
    z-index: 100;
    color: white;
    text-transform: uppercase;
    padding: 0 4rem;
    background-color: rgba(34, 34, 34, 0.794);
}

.slider__content,
.slider__content--item {
   width: 100%;
   height: 90vh;
   position: relative;
}
.carousel-item {
   position: relative;
   float: left;
   z-index: -100;
   display: unset !important;
   width: 100%;
   margin-right: -100%;
   backface-visibility: hidden;
   transition: transform 0.1s ease-in-out !important;
}
.slider__content--item img {
   width: 100%;
   height: 90vh;
   object-fit: cover;
}

.slider-description {
    color: white;

    position: absolute;
    bottom: 5rem;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding: 0 4rem;
    background-color: rgba(34, 34, 34, 0.794);
}
