@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Shizuru&display=swap');
.slider {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.carousel-track{
height: 200px ! important;
}

.slider__title {
    position: absolute;
    font-family: 'Hubballi', cursive;
    width: 100%;
    text-align: center;
    top: 4rem;
    z-index: 100;
    color: white;
    text-transform: uppercase;
    padding: 0 4rem;
    background-color: rgba(34, 34, 34, 0.794);
}

.slider__content, .slider__content--item {
    width: 100%;
    height: 90vh;
    position: relative;
}

.slider__content--item img{
    width: 100%;
    height: 90vh;
    /* display: none; */
    object-fit: cover;
    
}

.slider-description {
    color: white;
    font-family: 'Hubballi', cursive;
    position: absolute;
    bottom: 5rem;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding: 0 4rem;
    background-color: rgba(34, 34, 34, 0.794);
}
