body {
    background-color: #11072F;
}
.products_main_container{
   width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    background-color: #11072F;
}
