.container{
    
    justify-items: center;
    display: grid;
}
    .form {
      display: flex;
      align-items: center;
    }
    
    .searchBar {
      background-color:  #fff;
      color:black;
      width: 500px;
      height: 32px;
      margin-right: 10px;
      font-size: 16px;
      margin-left: 440px;
      text-align: initial;
     background-repeat: no-repeat;
     background-size:20px;
     background-position:10px;
     border-style:black;
     margin-top:50px ;
 
  
    }
   
    .search_btn {
      background-color:  #fff;
      color:black;
      width: 64px;
      height: 32px;
     
      font-size: 16px;
    
      text-align: ce;
     background-repeat: no-repeat;
     background-size:20px;
     background-position:10px;
     border-style:black;
     margin-top:50px ;


/*      
      cursor: pointer;
      border-color: black;
      border-width: 1px;
      align-self: center;
      width: 64px;
      height: 32px;
      background-color: #fff;
      color:black;
      font-size: 16px;
      border-style:black;
      background-size:20px; */
      
    }
    
    