.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  cursor: pointer;
  margin-left: 10px;
}

.list {
  position: absolute;
  padding: 0;
  background-color: rgb(90, 154, 191);
  list-style: none;
  width: 100%;
}

.item_list {
  cursor: pointer;
  text-decoration: none;
  color: black;
}