.container .comentario p {
    text-transform: lowercase;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: .75rem;
}

.container .comentario p::first-letter {
    text-transform: uppercase;
}

.container .nombre {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: .75rem;
}

.container {
    margin-bottom: 30px;
    background-color: var(--white-alpha-color);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
}