
.show {
  border-radius: 50%;
  position: fixed;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  background-color: #0d6efd;
  cursor: pointer;
}

.img{
  width: 45px;
  height: 45px;
  transform: translateY(3px);
}

.span{
  position: absolute;
  transform: translate(3px,-4px);
  font-weight: bolder;
  color: var(--white-color)
}

.texto{
  text-align: justify;
}
.itemlist{
  display: grid;
  grid-template-columns: 75px 230px 30px;
  column-gap: 10px;
  border: #CCD1D1  solid 1px;
  border-radius: 5px;
  padding: 5px;
}
.buttonTrash, .imgticket, .texto{
  display: flex;
  align-self: center;
}

/* .itemlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total{
  text-align: end;
  margin-right: 10px;
}

.total_number {
  font-weight: bolder;
  font-size: larger; */

