.Pagination__ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    overflow: scroll;
  }
  .Pagination__Li {
    padding: 10px;
    
  }
  .Pagination__Button{
      height: 80px;
      width: 80px;
      border-radius: 3rem;
  }
  