.Create__Movies {
   width: 90%;
   max-width: 1200px;
   margin-top: 3rem;
   /* display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; */
}

.Create__Movies label {
   color: var(--text-light-color);
   letter-spacing: 1px;
}

/* .Create__Movies input {
   margin: 1rem;
}

.Create__Movies select {
   margin: 1rem;
   width: 172px;
} */

.input__with__error span {
   margin: auto;
   color: #df1313;
   letter-spacing: 1px;
}

/* .SelectedFilters {
   display: flex;
   margin-bottom: 1rem;
   margin-right: 1rem;
} */

/* .Selected__Genders {
   width: 47%;
}

.Selected__Actors {
   width: 47%;
} */

/* .close {
   margin: 1rem;
} */
/* 
.gendersChoosenContainer,
.castChoosenContainer {
   padding: 3rem;
}

.gendersChoosenContainer div,
.castChoosenContainer div {
   display: flex;
} */
